# MacOS
.DS_Store

# R
.Rhistory
.Rproj.user/*

# PopulationSim
models/populationsim-taz/data/psam_*.csv
models/populationsim-taz/data/seed_*.csv
models/populationsim-taz/output/*.zip
models/populationsim-taz-validate/

models/populationsim-taz-2050/output/*.zip
models/populationsim-taz-2050/data/psam_*.csv
models/populationsim-taz-2050/data/seed_*.csv
models/populationsim-taz-2050/output/*
models/populationsim-taz-2050-check/.Rproj.user/*
models/populationsim-taz-2050/data/.Rproj.user/*
models/populationsim-taz/data/.Rproj.user/*
models/populationsim-taz/output/*
